@import "../../scss/App.scss";

footer {
	// background-color: darkgrey;
	bottom: 0;
	color: white;
	font-size: 15px;
	height: 35px;
	left: 0;
	overflow: hidden;
	padding-top: 5px;
	position: fixed;
	width: 100%;

	@media (max-width: 700px) {
			font-size: 13px;
	}
}