@import '../../scss/App.scss';

.login {
  &-container {
    color: #fff;
    margin: 0 auto;
    margin-top: 5rem;
    width: 50%;
  }

  &-logo {
		animation-duration: 1s;
		animation-name: moveInLeft;
    animation-timing-function: ease-out;
    width: 200px;
  }

  &-form {
    border-radius: 3px;
    // border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.7);
    padding: 20px 20px;
  }

  &-input {
    animation: moveInRight 1s ease-out;
    border-radius: 5px;
    font-size: 13px;
    margin: 20px;
    padding: 1.2rem 1rem;
  }

  &-button {
    // animation: moveInRight 1s ease-out;
    background-color: #6de0ed;
    border-radius: 3px;
    border: none;
    font-size: 2.5rem;
    margin: 15px 0;
    padding: 6px 20px;
  }

  .form-control {
    @include respond(tab-land) { // width < 1200px
      width: 100%;
    }
  }
}

.register {
  color: red;
  text-decoration: none;
}