// colors
$color-primary: #4780a4;
$color-primary-light: #3a5285;
$color-primary-dark: #2ac290;

$color-black: #000;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-primary-yellow: #ffb900;
$color-primary-orange: #ff7730;

$color-primary-blue: #2998ff;
$color-primary-purple: #5643fa;

// font
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem; // gutter is the space between columns in a row
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;